.board{
  margin: auto;
}
.tile{
  width: 50px;
  height: 50px;
  background-color: #6EC59B;
}
.char{
  width: 100%;
  height: auto;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.on-board-not-grabbing{
  cursor: grab;
}
.on-board-grabbing{
  cursor: grabbing; 
}
#app{
  height: 100vh;
}
tr td{
  padding: 0;
}
table{
  border-spacing: 2%;
}
tr {
  z-index: 5;
}