<!DOCTYPE html>
<html>
	<head>
		<title>Kudamono-san</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div id="app">
			<table class="board noselect">
				<tr class="row" v-for="(row, i) in grid">
					<td class="cell" v-for="(cell, j) in row">
						
					</td>
				</tr>
			</table>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
				
		<script src="js/audioController.js"></script>
		<script src="js/spriteManager.js"></script>

		<script src="js/main.js"></script>
	</body>
</html>